.root {
  position: relative;
  left: -180px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.searchIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  left: 14px;
  top: 14px;

}

.closeIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  left: 265px;
  top: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}